<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <remove invariant="Mono.Data.Sqlite" />
      <add name="Mono SQLite Data Provider" invariant="Mono.Data.Sqlite" description=".NET Framework Data Provider for SQLite" type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      </DbProviderFactories>
  </system.data>
</configuration>